<h2>Achievements</h2>
<p>A list of my achievements include Coursera certficates on:
  <ul>
    <li>1. Introduction to Databases by Meta</li>
    <li>2. Fundamentals of Java Programming by Board Infinity</li>
    <li>3. Introduction to Hardware and Operating Systems by  IBM</li>
    <li>4. Classical Cryptosystems and Core Concepts by University of Colorado System</li>
    <li>5.Operating Systems and You: Becoming a Power User by Google</li>
    <li>6.React Basics by Meta</li>
    <li>7.Introduction to Git and Github by Meta</li>
  </ul>

